<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
    <h2>Add New Graph</h2>
</div>


<script src="../public/scripts/script.js"></script>
<form action="/add-post" method="POST">
    <input type="text" name="title" placeholder="Title" required>
    <input type="number" name="numOfNodes" placeholder="Number of Nodes" required>
    
    <div id="edges-container"></div>
    <button type="button" onclick="addEdgeField()">Add Edge</button>
    
    <button type="submit">Add Post</button>
</form>