<footer>
    <img class="footer-image" src="images/programmer.png" alt="Logo">
    <p class="author">Proiect realizat pentru laboratorul de Tehnici Web de &copy; Sincari Sebastian George</p>
</footer>