<header>
    <div class="dropdown">
      <button class="dropbtn">
        <img src="images/dropdownIcon.png" alt="Dropdown Icon">
      </button>
      <div class="dropdown-content">
        <a href="#instagram">Instagram</a>
        <a href="#maps">Maps</a>
        <a href="#algoritmi">Most used algorithms</a>
        <a href="#istoric">Short history</a>

      </div>
    </div>
    <img class="title" src="images/title.png" alt="Logo">
    <a href="admin" class="gitIcon">
      <img class="headIcon" src="images/abme.png" alt="Dropdown Icon">
    </a>
    
</header>