<script src="scripts/mygraphscript.js" defer></script>

<form method="submit" id="graphForm">
    <label for="graphName">Graph Name:</label>
    <br>
    <input type="text" id="graphName" name="graphName" required>
    <br
    <label for="numNodes">Number of Nodes:</label>
    <br>
    <input type="number" id="numNodes" name="numNodes" min="1" required>
    <br>
    <label for="edges">Edges (Format: Node1 Node2, each pair on a new line):</label>
    <br>
    <textarea id="edges" name="edges" rows="10" required></textarea>
    <br>
    <button type="submit">Submit</button>
</form>



<script src="scripts/generatePoints.js"></script>
<ul class="post-ui">
    <!-- <% data.forEach(post => { %>
        <li>
            <a href="#">
                <p><%= post.title %></p>
                <p><%= post.numOfNodes %></p>
                <p><%= post.content %></p>
                <!-- <script>generatePointsOnCircle(<%= post.numOfNodes %>);</script> -->
            </a>
        </li>
    <% }) %> -->
</ul>
