<div class="postare">

    <h1 ><%= data.title %></h1>
    <div id="graph-container"  data-num-of-nodes="<%= data.numOfNodes %>" data-edges-list="<%= JSON.stringify(data.edgesList) %>"></div>

</div>

